.primary-color {
    background-color: #712cf9;
}

.app-container {
    min-height: 100vh;
}

.form-floating-date {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid var(--bs-card-border-color);
    border-radius: var(--bs-card-inner-border-radius);
}

.form-floating-date label {
    position: relative !important;
    top: 0;
    left: 0;
    padding: .2rem 0.75rem;
    color: rgba(var(--bs-body-color-rgb), .65);
    z-index: 0;
}

.form-floating-date .react-datepicker-wrapper {
    width: 100%;
}
.form-floating-date .react-datepicker-wrapper input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 0.75rem;
}

.pdf-container {
    background: #bbbbbb;
}

/* PDF EXPORT */
#pdf-content {
    font-size: .85em;
    background: #fff;
}

#pdf-content h1 {
    font-size: 2.4em;
}
#pdf-content h2 {
    font-size: 2.1em;
}
#pdf-content h3 {
    font-size: 1.9em;
}
#pdf-content h4 {
    font-size: 1.7em;
}
#pdf-content h5 {
    font-size: 1.5em;
}
#pdf-content h6 {
    font-size: 1.2em;
}

#pdf-content .row.experience {
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}

#pdf-content .row-item {
    border-top: 1px solid #e0e0e0;
}

#pdf-content .row-item .col-sm-9 {
    border-left: 1px solid #e0e0e0;
}

/* #pdf-content .data-box {
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
    margin-bottom: 20px;
} */